.cover-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.overlay-params(@opacity-strength, @background-color) {
  .cover-div;
  content: '';
  opacity: @opacity-strength;
  z-index: 2;
  background-color: @background-color;
}


.hero-slider {
  padding: 0px;
  position: relative;
}

.hero-slider .slides li {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero-slider .slides li h1 {
  font-size: 38px;
  line-height: 56px;
  margin-bottom: 40px;
}


.hero-slider .flex-direction-nav a {
  color: rgba(0, 0, 0, 0);
}

.flex-direction-nav a:before {
  top: 7px !important;
  font-size: 36px;
  left: 10px;
}

.flex-direction-nav a.flex-next:before {
  left: -10px;
}

.align-vertical.slider-text-and-link {
  position: absolute;
  bottom: 60px;
  right: 0;
  left: 0;
  text-align: center;
}

@media all and (max-width: 1350px) {
  .flex-direction-nav {
    display: none !important;
  }
}

.hero-slider .slides li.overlay:before {
  /** .overlay-params(@opacity-strength: 0.3, @background-color: #fff); **/
}

.hero-slider .slides li h1, header.title h1, .action-banner h1, header.signup h1 {
  font-size: 32px;
  line-height: 40px;
}

.video-wrapper{ position: absolute; width: 100%; top: 0px; left: 0px; z-index: 0; }
.video-wrapper video{ width: 100%; top: 0px; }

@media all and (max-width: 1500px){
  .hero-slider .slides li {
    height: 600px;
  }
}

@media all and (max-width: 1400px){
  .video-wrapper video{ width: 110%; }
  .hero-slider .slides li {
    height: 550px;
  }
}

@media all and (max-width: 1200px){
  .video-wrapper video{ width: 130%; }
  .hero-slider .slides li {
    height: 400px;
  }
}

@media all and (max-width: 1000px){
  .video-wrapper video{ width: 150%; }
  .hero-slider .slides li {
    height: 300px;
  }
}
@media all and (max-width: 768px){
  .hero-slider .slides li {
    height: 300px;
    .btn-primary{
      margin-right: 0 !important;
      padding: 10px 40px !important;
      min-width: unset !important;
    }
  }
  .align-vertical.slider-text-and-link{
    right: 0;
    left: 0;
    text-align: center;
    top: unset !important;
    bottom: 5px;
  }
}
@media all and (max-width: 425px){
  .hero-slider .slides li {
    height: 165px;
  }
}


.hero-slider {
  .btn {
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
  }
  .btn:hover {
    background: none;
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
  }
  .btn-primary {
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3498db;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
  }
  .btn-primary.btn-filled {
    background: #3498db;
    color: #fff;
  }
  .btn-white {
    border-color: #fff;
    color: #fff;
  }
  .btn-white:hover {
    background: #fff;
    color: #333333;
    border-color: #fff;
  }
  .btn-white.btn-filled {
    background: #fff;
    color: #e74c3c;
  }
}