<?php
if ($enabel = $block->isSliderEnable()) {

    $slide1 = $block->getSliderData("slide1");
    $slide2 = $block->getSliderData("slide2");
    $slide3 = $block->getSliderData("slide3");
    $video = $block->getVideoData();
    ?>
    <section class="hero-slider">
        <ul class="slides">
            <?php if ($block->getData('video')): ?>
            <?php if ($video['enable']): ?>
                <li class="overlay">
                    <div class="background-image-holder parallax-background">
                        <?php if (!empty($video['image'])) { ?><img class="background-image" src="<?= $video['image']; ?>" alt=""><?php } ?>
                    </div>

                    <div class="video-wrapper">
                        <video class="video" autoplay="" muted="" loop="">
                            <?php if (!empty($video['file1'])) { ?><source type="video/mp4" src="<?= $video['file1']; ?>"><?php } ?>
                            <?php if (!empty($video['file2'])) { ?><source type="video/ogv" src="<?= $video['file2']; ?>"><?php } ?>
                            <?php if (!empty($video['file3'])) { ?><source type="video/webm" src="<?= $video['file3']; ?>"><?php } ?>
                        </video>
                    </div>

                    <div class="container align-vertical slider-text-and-link">
                        <div class="row">
                            <div class="content">
                                <h1 class="text-white"><?= $video['title']; ?></h1>
                                <a target="_blank" href="<?= $video['url']; ?>"
                                   class="btn btn-primary btn-white"><?= $video['button']; ?></a>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endif; ?>
            <?php endif; ?>
            <?php if ($block->getData('slider1') && !empty($slide1['image']) && $slide1['enable']): ?>
                <li class="overlay">
                    <div class="background-image-holder parallax-background">
                         <?php if (!empty($slide1['image'])) { ?><img class="background-image" src="<?= $slide1['image']; ?>" alt=""><?php } ?>
                    </div>

                    <div class="container align-vertical slider-text-and-link">
                        <div class="row">
                            <div class="content">
                                <h1 class="text-white"><?= $slide1['title']; ?></h1>
                                <a target="_blank" href="<?= $slide1['url']; ?>" class="btn btn-primary btn-white"><?= $slide1['button']; ?></a>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endif; ?>
            <?php if ($block->getData('slider2') && !empty($slide2['image']) && $slide2['enable']): ?>
                <li class="overlay">
                    <div class="background-image-holder parallax-background">
                        <?php if (!empty($slide2['image'])) { ?><img class="background-image" src="<?= $slide2['image']; ?>" alt=""><?php } ?>
                    </div>

                    <div class="container align-vertical slider-text-and-link">
                        <div class="row">
                            <div class="content">
                                <h1 class="text-white"><?= $slide2['title']; ?></h1>
                                <a target="_blank" href="<?= $slide2['url']; ?>"
                                   class="btn btn-primary btn-white"><?= $slide2['button']; ?></a>

                            </div>
                        </div>
                    </div>
                </li>
            <?php endif; ?>
            <?php if ($block->getData('slider3') && !empty($slide3['image']) && $slide3['enable'] ): ?>
                <li class="overlay">
                    <div class="background-image-holder parallax-background">
                        <?php if (!empty($slide3['image'])) { ?><img class="background-image" src="<?= $slide3['image']; ?>" alt=""><?php } ?>
                    </div>

                    <div class="container align-vertical slider-text-and-link">
                        <div class="row">
                            <div class="content">
                                <h1 class="text-white"><?= $slide3['title']; ?></h1>
                                <a target="_blank" href="<?= $slide3['url']; ?>"
                                   class="btn btn-primary btn-white"><?= $slide3['button']; ?></a>

                            </div>
                        </div>
                    </div>
                </li>
            <?php endif; ?>
        </ul>
    </section>

    <script>
        require([
                'jquery',
                'flexsliderjs'
            ], function ($) {
                'use strict';
                $(document).ready(function () {

                    $('.hero-slider').flexslider({slideshowSpeed: 14000});
                    $('.image-slider').flexslider({animation: "slide"});


                    $('.slider-fullscreen .slides li').each(function () {
                        $(this).css('height', $(window).height());
                    });

                    $('.fullscreen-element').each(function () {
                        $(this).css('height', $(window).height());
                    });
                });
            }
        );
    </script>

<?php } ?>